.bg-black{
    background-color: black;
}
img{
    width: 100%;
    height: 100%;
}
.font-div{
    width: 30%;
}
/*
/////RESPONSIVE/////
*/
@media only screen and (min-width: 986px){
    .font-div{
        padding: 43.5px 0px!important
    }
}
.btn{
    background-color: whitesmoke;
    color: darkred;
}